header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: transparent;
    height: 0;
    display: flex;
    justify-content: space-between;
}

header nav .desktop {
    display: none;
    list-style-type: none;
    flex-wrap: wrap;
}

header nav .desktop li {
    margin-right: 30px;
    margin-left: 30px;
}

header nav .desktop li page-link a {
    font-weight: bold;
}

header nav .desktop li page-link a:hover {
    font-style: italic;
}
header nav .desktop li page-link a:active,
header nav .desktop li page-link a.active {
    font-style: italic;
    text-decoration: none;
}

header nav .mobile {
    position: relative;
    display: inline-block;
    top: 20px;
    right: 20px;
}
header nav .mobile button {
    display: flex;
    align-items: center;
}

header nav .mobile button.menu-open {
    background-color: var(--background);
    color: var(--text);
}

header nav .mobile button .arrow {
    --width: 2px;
    --size: 3px;
    position: relative;
    display: inline-block;
    padding: var(--size);
    margin-left: 10px;
    border: solid black;
    border-width: 0 var(--width) var(--width) 0;
    transition: transform 0.3s;
    transform: rotate(45deg);
    transform-origin: center;
}

header nav .mobile button.menu-open .arrow {
    transform: rotate(-135deg);
    border: solid #fff;
    border-width: 0 var(--width) var(--width) 0;
}

header nav .mobile ul {
    display: none;
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: var(--background-reverse);
    z-index: 99;
}

header nav .mobile ul li {
    margin: 0;
    text-align: right;
    white-space: nowrap;
    line-height: 45px;
    padding: 0px 10px;
}

header nav .mobile ul li:hover {
    margin: 0;
    text-align: right;
    white-space: nowrap;
    line-height: 45px;
    padding: 0px 10px;
    color: var(--primary);
}

header nav .mobile ul.open {
    display: block;
    background: var(--background);
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 992px) {
    header {
        padding: 20px 40px;
        height: initial;
    }

    header nav .mobile {
        display: none;
    }

    header nav .desktop {
        display: flex;
    }
}
