
.logo {
    display: inline-block;
    align-self: center;
    width: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    z-index: 30;
    transition: none;
    position: relative;
    top: 20px;
    left: 20px;
}

.logo .atlas {
    display: inline-block;
    padding: 10px 2px 5px 10px;
    color: var(--text);
    background-color: var(--background);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.logo .atlas span {
    font-size: 20px;
    letter-spacing: 0;
}

.logo .rise {
    display: inline-block;
    margin-top: -10px;
    margin-left: 10px;
    padding: 5px 5px 2px 5px;
    color: var(--text-reverse);
    background-color: var(--text);
    font-family: 'Times';
    font-weight: normal;
    border-bottom: 2px solid var(--text-reverse);
    border-right: 2px solid var(--text--reverse);
}

@media screen and (min-width: 992px) {
    .logo {
        position: initial;
    }
}
