aside.sidebar {
    position: static;
    height: auto;
    min-width: auto;
    max-width: inherit;
    max-height: inherit;
    padding: 100px 40px 0 0;
}

@media screen and (min-width: 992px) {
    aside.sidebar {
        position: sticky;
        top: 36px;
        height: 100%;
        min-width: 320px;
        max-width: 400px;
        max-height: 800px;
        padding: 0 40px 0 40px;
        margin-top: -30px;
        z-index: 1000;
    }

    aside::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 66px;
        min-width: 320px;
        max-width: 320px;
        background-color: var(--background);
        z-index: 1;
    }

    aside .logo-link {
        position: relative;
        z-index: 2;
    }

    aside .sidebar-content {
        position: relative;
        z-index: 0;
    }

}

.page-thank-you aside.sidebar .talk-button,
.page-contact-us aside.sidebar .talk-button {
    display: none;
}
